<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ServletsNotWorking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StartServlet</display-name>
    <servlet-name>StartServlet</servlet-name>
    <servlet-class>com.servlets.StartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartServlet</servlet-name>
    <url-pattern>/StartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParticipantFormServlet</display-name>
    <servlet-name>ParticipantFormServlet</servlet-name>
    <servlet-class>com.servlets.ParticipantFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParticipantFormServlet</servlet-name>
    <url-pattern>/ParticipantFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BatchFormServlet</display-name>
    <servlet-name>BatchFormServlet</servlet-name>
    <servlet-class>com.servlets.BatchFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchFormServlet</servlet-name>
    <url-pattern>/BatchFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateParticipantServlet</display-name>
    <servlet-name>CreateParticipantServlet</servlet-name>
    <servlet-class>com.servlets.CreateParticipantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateParticipantServlet</servlet-name>
    <url-pattern>/CreateParticipantServlet</url-pattern>
    <url-pattern>/createparticipant</url-pattern>
  </servlet-mapping>
</web-app>